/* #region init */
/* 
*,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion init */
/* #region common */

.container {
  max-width: 320px;
  padding: 96px 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion common */
/* #region header*/

.header-section {
  padding: 16px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.header-nav {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.header-menu,
.header-adress {
  display: none;
}

.mainlogo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: block;
  text-transform: uppercase;
}

.mainlogo-header-studio-part {
  color: #2e2f42;
}

.header-menu-mobile-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-menu-mobile-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .mainlogo {
    padding-right: 120px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav:hover,
  .header-nav:focus,
  .header-nav.current {
    color: #404bbf;
  }

  .header-nav.current {
    position: relative;
  }

  .header-nav.current::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -25px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .header-adress {
    display: flex;
    flex-direction: column;
    line-height: 0;
    gap: 12px;
  }

  .header-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-contacts:hover,
  .header-contacts:focus {
    color: #404bbf;
  }

  .header-menu-mobile-button {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .header-section {
    padding: 24px 0;
  }
  .mainlogo {
    padding-right: 76px;
  }

  .header-adress {
    display: flex;
    flex-direction: row;
    padding: 24px, 0;
    gap: 40px;
  }

  .header-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
}
/* #endregion header*/
/* #region hero */
.hero-grid {
  padding: 0;
}

.hero-section {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/m/people-office.jpg);

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 320px;
  min-height: 432px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (resolution >= 2dppx) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/m/people-office@2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/t/people-office.jpg);
    max-width: 768px;
    min-height: 436px;
  }
}

@media screen and (resolution >= 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/t/people-office@2.jpg);
    max-width: 768px;
    min-height: 436px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/d/people-office.jpg);
    max-width: 1440px;
    min-height: 600px;
  }
}

@media screen and (resolution >= 2dppx) and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/d/people-office@2.jpg);
    max-width: 1440px;
    min-height: 600px;
  }
}

.hero-title-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding: 72px 0;
  margin: auto;
  max-width: 216px;
}

@media screen and (min-width: 768px) {
  .hero-title-headline {
    font-size: 56px;
    line-height: 1.07143;
    padding: 112px 0 36px 0;
    max-width: 496px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-title-headline {
    padding: 188px 0 48px 0;
  }
}

.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background: #404bbf;
}
/* #endregion hero */
/* #region benefits */

.benefit-item-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefit-item {
  max-width: 288px;
}

.benefit-icon-card {
  display: none;
}

.benefit-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 8px;
}

.benefit-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 151%;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .benefit-item-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .benefit-item {
    min-width: 356px;
  }

  .benefit-item-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .benefit-section {
    padding: 120px 0;
  }

  .benefit-item {
    min-width: auto;
    max-width: 264px;
  }

  .benefit-icon-card {
    display: none;
  }

  .benefit-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #2e2f42;
    padding-bottom: 8px;
  }

  .benefit-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #434455;
  }

  .benefit-icon-card {
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .benefit-icon {
    fill: #2e2f42;
  }
}

/* #endregion benefits */
/* #region team */
.team-section {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.team-member {
  width: 264px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow: 0 2px 1px 0 #2e2f4214, 0 1px 1px 0 #2e2f4229,
    0 1px 6px 0 #2e2f4214;
}

.team-member-card {
  padding: 32px 0;
  background-color: #fff;
}

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-member-job-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.tmct {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 16px;
}

.tmct-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tmct-icon-ellipse,
.ft-icon-ellipse {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tmct-icon-ellipse:hover,
.tmct-icon-ellipse:focus {
  background-color: #404bbf;
}

.tmct-icon-svg,
.ft-icon-svg {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
}

/* #endregion team */
/* #region project */

.project-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  color: #2e2f42;
  text-align: center;
  padding-bottom: 72px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.project-pic {
  position: relative;
  overflow: hidden;
}

.project-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover .project-overlay {
  transform: translateY(0%);
}

.project-overlay {
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card {
  padding: 32px 0;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
  padding: 0 16px;
  padding-bottom: 8px;
}

.project-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .project-list {
    justify-content: space-between;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .project-section {
    padding: 120px 0;
  }
  .project-list {
    row-gap: 40px;
  }
}

/* #endregion project */
/* #region footer */

.page-footer {
  background: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
}

.footer-grid {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-cell,
.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  padding: 1.5px 0 17.5px;
}

.footer-social-text,
.footer-subscribe-text {
  padding-bottom: 16px;
}

.mainlogo-footer-studio-part {
  color: #f4f4fd;
}

.ft-icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

/* #endregion footer */
@media screen and (resolution >= 2dppx) and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
}
